<% if user_signed_in? %>
    <li class="nav-inter">
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </li>
<% else %>
    <li class="nav-inter">
        <%= link_to "Cadastrar", new_user_registration_path, method: :get, class: 'nav-link' %>
    </li>   
    <li class="nav-inter">
        <%= link_to "Entrar", new_user_session_path, method: :get, class: 'nav-link' %>
    </li>
<% end %>